.quoteButton {
  color: 00063f;
  font-size: 16px;
  font-family: "Press Start 2P";
  background-color: #ffffff00;
  padding: 20px 20px 20px 20px;
  border-radius: 4px;
  border-color: #00063f;
}
