

.quoteButton {

    color: white;
    font-size: 16px;
    font-family: 'Press Start 2P';
    background-color: #000f91;
    padding : 20px 20px 20px 20px;
    border-radius: 4px;
    border-color: white
    
  
  }

  