body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Press Start 2P", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 1em;
  line-height: 1.3em;
}

h2 {
  font-size: 0.8em;
}

h3 {
  font-size: 0.7em;
}

h4 {
  font-size: 0.6em;
  line-height: 1em;
}

h5 {
  font-size: 0.5em;
}

.strokeicon {
  stroke: white;
}

button {
  background-color: transparent;
  border: 2px solid white;
}

button:hover {
  color: red;
  background-color: transparent;
  border: 2px solid red;
}

link:hover {
  color: red;
}
